services:
  ludka-bot:
    container_name: ludka-bot
    restart: always
    build:
      context: .
    working_dir: /usr/ludka-main/app
    command: sh -c "
      alembic upgrade head &&
      python main.py
      "
    env_file: ./app/.env
    networks:
      - ludka-network
    depends_on:
      - ludka-db
      - ludka-redis
      - ludka-rabbitmq

  ludka-db:
    image: postgres:16-alpine
    container_name: ludka-db
    restart: always
    command: -p ${POSTGRES_PORT}
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - ludka-network
    expose:
      - ${POSTGRES_PORT}
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    volumes:
      - ludka-db-data:/var/lib/postgresql/data/
    healthcheck:
      test: pg_isready -p ${POSTGRES_PORT} -U ${POSTGRES_USER} -d ${POSTGRES_DB}
      interval: 60s
      timeout: 3s
      retries: 3

  ludka-redis:
    image: bitnami/redis:latest
    container_name: ludka-redis
    restart: always
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_PORT_NUMBER=${REDIS_PORT}
      - REDIS_DATABASE=${REDIS_DB}
    networks:
      - ludka-network
    expose:
      - ${REDIS_PORT}
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    volumes:
      - ludka-redis-data:/bitnami/redis/data
    healthcheck:
      test: redis-cli -a ${REDIS_PASSWORD} -p ${REDIS_PORT} ping
      interval: 60s
      timeout: 3s
      retries: 3

  ludka-rabbitmq:
    image: rabbitmq:4.1.6-management-alpine
    container_name: ludka-rabbitmq
    restart: always
    environment:
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_WEB_PORT=${RABBITMQ_WEB_PORT}
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
    networks:
      - ludka-network
    expose:
      - ${RABBITMQ_PORT}
      - ${RABBITMQ_WEB_PORT}
    ports:
      - ${RABBITMQ_PORT}:${RABBITMQ_PORT}
      - ${RABBITMQ_WEB_PORT}:${RABBITMQ_WEB_PORT}
    command: sh -c "rabbitmq-plugins enable rabbitmq_management && rabbitmq-server"
    volumes:
      - ludka-rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 5s
      retries: 5

volumes:
  ludka-db-data:
  ludka-redis-data:
  ludka-rabbitmq-data:

networks:
  ludka-network:
    name: ludka-network
    external: false